@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font.scss';
@import 'nav.scss';

@keyframes visible-text {
    0 {
        opacity: 0;
    }

    50% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

@keyframes visible-scroll-text {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        margin-top: 4rem;
    }
}

@keyframes intro-block-animation {
    0% {
        height: 100vh
    }

    50% {
        height: 50vh;
    }

    100% {
        @apply z-0 mt-20 pb-10 h-full;
    }
}

:root {
    --transition-icon: transform 0.5s ease-in-out;
    --transition-btn: all 0.3s ease-in-out;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.btn {
    transition: var(--transition-btn);
}

.menu-content-hidden {
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: right 0.3s ease-in-out;
}

.menu-content-hidden.menu-open {
    right: 0;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.country-card {
    transition: opacity 0.3s ease-in-out;
}

input.vs__search::placeholder {
    opacity: 0.5;
}

.intro-text {
    opacity: 0;
}

.show-intro-text {
    animation-name: visible-text;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.show-scroll-text {
    animation-name: visible-scroll-text;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.intro-block {
    @apply h-screen;
}

.intro-block-an {
    animation-name: intro-block-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}




.category-image {
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.europe {
    .overlay {
        width: 100%;
        bottom: -100%;
        left: -100%;
        transform: rotate(-45deg);
        transition: all 0.5s ease-in-out;
    } 

    &:hover {
        .overlay {
            @apply bottom-0 left-0 w-full;
            transform: rotate(0deg);
        }

        .category-image {
            transform: scale(1.1);
        }
    }
}
