@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base.scss';
@import 'font.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'country-card.scss';
@import 'modal.scss';
@import 'category-button.scss';
@import 'vue-sel-cust.scss';
@import 'vue-select/src/scss/vue-select.scss';