$transition-btn: 0.3s ease-in-out;

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;

    &.no-scroll {
        @apply h-full overflow-hidden;
    }
}

.btn {
    transition: all $transition-btn;
}

.country-card {
    transition: opacity $transition-btn;
}

.red-delete-icon {
    path {
        fill: rgb(160, 0, 0);
    }
}