@keyframes intro-block-animation {
    0% {
        height: 100vh
    }

    50% {
        height: 50vh;
    }

    100% {
        @apply z-0 mt-20 pb-10 h-full;
    }
}


@keyframes visible-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5
    }

    100% {
        opacity: 1
    }
}

@keyframes visible-scroll-text {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        margin-top: 4rem;
    }
}


.intro-block {
    @apply h-screen;

    &.intro-block-an {
        animation-name: intro-block-animation;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
    
    .intro-text {
        opacity: 0;
    }

    .show-intro-text {
        animation-name: visible-text;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    .show-scroll-text {
        animation-name: visible-scroll-text;
        animation-duration: 0.8s;
        animation-timing-function: ease-in-out;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }
}



