    $transition-rotation: transform 0.5s ease-in-out;
    
    .skewed-icon {
        transform: rotate(0);
        transition: $transition-rotation;
    
        &:hover {
            transform: rotate(27deg);
            transition: $transition-rotation;
        }
    }
    
    .btn-icon-close {
        .rotate-icon {
            transform: rotate(0);
            transition: $transition-rotation;
        }
        
        &:hover {
            .rotate-icon {
                transform: rotate(360deg);
            }
        }
    }

    .menu-content-hidden {
        right: -100%;
        width: 100%;
        transition: right 0.3s ease-in-out;
    }


.menu-open {
    right: 0;
    height: 100vh;
}